/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#video-container {
	position: relative;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	color: white;
	text-shadow: 3px 3px 3px black;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/*  */
body {
	position: relative;
	overflow: hidden;
}

.scan,
.scan2,
.scan3,
.scan4 {
	position: absolute;
	background: linear-gradient(to right, #ffffff80 0%, #8cbeb8ba 50%, #8cbeb8 100%);
	filter: blur(.3em);
	height: 70vh;
	width: 1.5em;
	bottom: 50%;
	transform: translateY(50%);
	opacity: 0;
	z-index: 1;
}

.sound3 .scan {
	animation: scan 3s;
}

.sound6 .scan2 {
	animation: scan2 3s;
}

.sound7 .scan {
	animation: scan3 3s;
}

/* .sound8 .scan {
	animation: scan4 3s;
} */

@keyframes scan {
	0% {
		left: 0%;
		height: 70vh;
		opacity: 1;
	}
	
	100% {
		left: 100%;
		height: 70vh;
		opacity: 0;
	}		
}

@keyframes scan2 {
	0% {
		left: 0%;
		height: 70vh;
		opacity: 1;
	}
	
	100% {
		left: 100%;
		height: 70vh;
		opacity: 0;
	}		
}

@keyframes scan3 {
	0% {
		left: 0%;
		height: 70vh;
		opacity: 1;
	}
	
	100% {
		left: 100%;
		height: 70vh;
		opacity: 0;
	}		
}

@keyframes scan4 {
	0% {
		left: 0%;
		height: 70vh;
		opacity: 1;
	}
	
	100% {
		left: 100%;
		height: 70vh;
		opacity: 0;
	}		
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

/* Tekst positioneren midden */
.p0,
.p1,
.p2,
.p3,
.p4,
.p5,
.p7 {
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
	text-align: center;
}

/* voice 1 links positioneren */
.p8,
.p10,
.p11,
.p13,
.p14,
.p16,
.p17,
.p19,
.p21,
.p22,
.p24,
.p25,
.p27,
.p28,
.p30,
.p32,
.p33,
.p35,
.p36,
.p38,
.p40 {
	position: absolute;
	left: 5em;
	top: 50%;
	width: 30vw;
}

/* voice 2 rechts positioneren */
.p9,
.p12,
.p15,
.p18,
.p20,
.p23,
.p26,
.p29,
.p31,
.p34,
.p37,
.p39,
.p42 {
	position: absolute;
	right: 5em;
	top: 50%;
	width: 30vw;
	text-align: end;
}

.p41 {
	position: absolute;
	right: 5em;
	top: 45%;
}

.p43 {
	position: absolute;
	right: 5em;
	top: 55%;
}

.p44,
.p45,
.p46 {
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
	text-align: center;
	font-family: "brenner serif";
	font-weight: 300;
	font-size: 1.5em;
}

.p45 span:nth-of-type(2) {
	font-weight: 600;
	font-size: 1.1em;
}

.p47 {
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
	text-align: center;
}

.p48,
.p50,
.p52,
.p54,
.p55,
.p57,
.p59,
.p61,
.p63,
.p65,
.p67,
.p69,
.p71,
.p73,
.p75,
.p77 {
	position: absolute;
	left: 5em;
	top: 50%;
	width: 30vw;
}

.p57,
.p59,
.p61,
.p63,
.p65,
.p67,
.p69,
.p71,
.p73,
.p75,
.p77 {
	font-size: 2em !important;
}

.p49,
.p51,
.p53,
.p56,
.p58,
.p60,
.p62,
.p64,
.p66,
.p68,
.p69,
.p70,
.p72,
.p74,
.p76,
.p78 {
	position: absolute;
	right: 5em;
	top: 50%;
	width: 30vw;
	text-align: end;
}

.p79 {
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2em;
}

/* 1e zin vormgeven */
.p0 span {
	opacity: 0;
	font-family: "brenner mono";
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 200;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-weight: 600;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-weight: 600;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-weight: 200;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-weight: 200;
}

/* Voice 1 persoon vormgeven ROBOT */
.voice1 {
	font-family: "brenner mono";
	font-weight: 400;
	opacity: 1;
	font-size: 1.5em;
}

/* Voice 2 persoon vormgeven HOOFDPERSOON */
.voice2 {
	font-family: "brenner sans";
	font-weight: 400;
	opacity: 1;
	font-size: 1.5em;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */

/* Pulse alarm toevoegen */
.sound1 #video-mask {
	animation: rodepulse 2s ease-in-out;
}

.sound2 #video-mask {
	animation: rodepulse2 2s ease-in-out;
}

@keyframes rodepulse {
	0% {
	   -webkit-box-shadow: none;
	   box-shadow: none;
	}
   
	10% {
	   -webkit-box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 100px #C10000; 
   box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 100px #C10000;
	}
   
	90% {
	   -webkit-box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 30px #C10000; 
   box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 30px #C10000;
	}
   
	100% {
	   -webkit-box-shadow: none;
	   box-shadow: none;
	}
   }
   
@keyframes rodepulse2 {
	   0% {
		  -webkit-box-shadow: none;
		  box-shadow: none;
	   }
	  
	   10% {
		  -webkit-box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 30px #C10000; 
	  box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 30px #C10000;
	   }
	  
	   90% {
		  -webkit-box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 30px #C10000; 
	  box-shadow: -10px 0px 13px -7px #C10000, 10px 0px 13px -7px #C10000, 0px 0px 50px 30px #C10000;
	   }
	  
	   100% {
		  -webkit-box-shadow: none;
		  box-shadow: none;
	   }
	  }


/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound5 #video-mask {
	animation: ontwijk 2s ease-in-out;
}

@keyframes ontwijk {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(100px);
	}

	100% {
		transform: translateX(0);
	}
}

/* Skinjob */
.p6.on {
	animation: ontwijktekst 2s ease-in-out;
	font-family: "brenner slab";
	font-size: 1.3em;
	font-weight: 800;
	color: #C10000 !important;
	-webkit-text-stroke: .5px white;
	position: absolute;
	top: 5em;
	left: 30%;
}

@keyframes ontwijktekst {
	0% {
		transform: translateX(0);
		opacity: .7;
	}

	50% {
		transform: translateX(100px);
	}

	99% {
		opacity: .7;
	}
	
	100% {
		transform: translateX(0);
		opacity: 0;
	}
}




/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background: linear-gradient(-45deg, black, #020024, #181721);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sound8 .noise {
    position: absolute;
    top: -30vh;
    left: -10vw;
    width: 120vw;
    height: 120vh;
    background: url(./assets/ruis.gif) repeat 0 0;
    background-repeat: round;
    opacity: 0;
    visibility: visible;
    z-index: -1;
	animation: noise 43s;
}

@keyframes noise{
	0% {
		opacity: 0;
	}

	85% {
		opacity: .1;
	}

	99% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.sound10 .noise {
	position: absolute;
    top: -30vh;
    left: -20vw;
    background: url(./assets/line-noise-loop.gif) repeat 0 0;
    background-size: cover;
    opacity: 0;
    visibility: visible;
    z-index: -1;
	animation: noise2 43s;
}

@keyframes noise2{
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.sound8 #video-mask {
	animation: vergroten 43s;
}

@keyframes vergroten {
	0% {
		transform: scale(1);
	}

	99% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}


#video-container {
	margin: auto;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}

.wegvallen {
	width: 100vw;
	height: 100vh;
	position: absolute;
	filter: blur(4px);
}

.sound11 .wegvallen {
	z-index: -1;
	animation: wegvallen 2.2s ease-in;
}

@keyframes wegvallen {
	0% {
		background-color:red;
		opacity: .2;
	  }
	  100% {
		background-color:red;
		opacity: .2;
	  }
}


